* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.Header-container {
    display: flex;
    justify-content: space-around;
}

.Title-container {
    display: flex;
    justify-content: space-around;
    padding: 70px 0;
    flex-wrap: wrap;
}

.Header-container,
.Title-container {
    width: 100%;
    background-color: #1F2937;
    color: #ffffff;
}

.Logo {
    font-size: 24px;
    color: #F9FAF8;
}
    

.header-links {
    /* border: solid 5px black; /* for debugging */
    width: 25%;
    display:flex;
    justify-content: space-around;
}

.Logo,
.header-links {
    padding: 30px;
}

.title-text {
    width: 20%;
}

a:link,
.title-text p  {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.title-text h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.title-text button {
    background-color: #3882F6;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 0;
    height: 30px;
}

.pic-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.pic-bar {
    display: flex;
    gap: 50px;
    padding: 50px 25%;
    justify-content: center;
    flex: 1 1 0px;
    flex-wrap: wrap;
}

.pic {
    border: solid black 5px;
    border-radius: 25px;
}

.bar {
    text-align: center;
    width: 200px;
}

.bar p {
    font-size: 14px;
}

.bar img {
    width: 200px;
    height: auto;
}

.quote-container {
    /* border: solid 5px black; /* for debugging */
    background-color: #E5E7EB;
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.quote {
    /*border: solid 5px black; /* for debugging */
    width: 50%;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

.footer-container {
    background-color: #add8e6;
    display: flex;
    border-radius: 20px;
    margin: 70px auto;
    padding: 25px;
    justify-content: center;
    width: 60%;
    
}

.footer-signup {
    background-color: #3882F6;
    color: #fff;
    font-weight: 700;
    border: solid 1px #fff;
    border-radius: 10px;
    box-shadow: 0;
    height: 30px;
}